<div class="page">
  <div class="error-message">
    <h1>{{ errorCode }}</h1>
    <h2>{{ errorText }}</h2>
    <p>{{ playfulMessage }}</p>
    <p>{{ description }}</p>
    <button size="l" tuiButton type="button" routerLink="/typecodes" [attr.aria-hidden]="true">
      Return to Typecodes
    </button>
  </div>
  <img src="./assets/img/diver.png" alt="Diver" class="diver">
  <div class="error-message">
    <h2>This might help:</h2>
    <ul>
      <li *ngFor="let guidanceItem of guidance"> {{ guidanceItem }} </li>
    </ul>
  </div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>