<div class="page">
  <div class="error-message">
    <h1>404</h1>
    <h2>Ocean Not Found</h2>
    <p>It looks like you've drifted too far from the reef.</p>
    <button
    size="l"
    tuiButton
    type="button"
    routerLink="/typecodes"
    [attr.aria-hidden]="true"
    >
    Return to Typecodes
  </button>
  </div>
  <img src="./assets/img/diver.png" alt="Diver" class="diver">
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>
