<div class="page">
  <div class="error-message">
    <h1>Error {{ errorCode }}</h1>
    <h2>{{ errorDetails.errorText }}</h2>
    <p><i>{{ errorDetails.playfulMessage }}</i></p>
    <p>{{ errorDetails.description }}</p>
    <button size="l" tuiButton type="button" routerLink="/typecodes" [attr.aria-hidden]="true">
      Return to Typecodes
    </button>
  </div>
  <img src="./assets/img/diver.png" alt="Diver" class="diver">
  <div class="error-message">
    <h2>This might help:</h2>
    <ol>
      <li *ngFor="let guidanceItem of errorDetails.guidance"> {{ guidanceItem }} </li>
    </ol>
  </div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
  <div class="bubble"></div>
</div>