<div class="outer-container">
  <div class="table-container">
    <div class="table-menu">
      <form [formGroup]="searchForm" tuiTextfieldIcon="tuiIconSearchLarge">
        <tui-input
          label="Search"
          formControlName="search"
          [tuiTextfieldCleaner]="true"
          tuiTextfieldSize="m"
        >
          Search
          <input tuiTextfield />
        </tui-input>
      </form>
      <button
        appearance="destructive"
        icon="tuiIconFilterLarge"
        tuiIconButton
        type="button"
        [attr.aria-hidden]="true"
      ></button>
      <button
        appearance="accent"
        icon="tuiIconPlusLarge"
        tuiIconButton
        type="button"
        (click)="showDialog()"
        [attr.aria-hidden]="true"
      ></button>
    </div>

    <tui-scrollbar *ngIf="this.storeService.allExtensions; else noData" class="border-radius">
      <table tuiTable [columns]="columns">
        <thead>
          <tr tuiThGroup>
            <th *tuiHead="'Name'" tuiTh>Name</th>
            <th *tuiHead="'Description'" tuiTh>Description</th>
            <th *tuiHead="'Project'" tuiTh>Project</th>
            <th *tuiHead="'Scope'" tuiTh>Scope</th>
            <th *tuiHead="'Item Count'" tuiTh>Number of Items</th>
            <th *tuiHead="'Creation Date'" tuiTh>Creation Date</th>
            <th *tuiHead="'Actions'" tuiTh [sorter]="null">Actions</th>
          </tr>
        </thead>

        <tbody *tuiLet="
            this.storeService.allExtensions | tuiTableSort as sortedExtensions
          " tuiTbody [data]="sortedExtensions">
          <tr *ngFor="let extension of sortedExtensions" tuiTr>
            <td *tuiCell="'Name'" tuiTd>{{ extension.name }}</td>
            <td *tuiCell="'Description'" tuiTd>
              <tui-elastic-container>
                <!-- conditional rendering based on length and expanded state -->
                {{ expandedItemId === extension.id || extension.description.length <= MAX_DESCRIPTION_LENGTH ?
                  extension.description : (extension.description | slice:0:MAX_DESCRIPTION_LENGTH) + '...' }} <!-- show
                  button only if description is longer than MAX_DESCRIPTION_LENGTH -->
                  <button *ngIf="extension.description.length > MAX_DESCRIPTION_LENGTH" tuiLink
                    (click)="toggle(extension.id)">
                    Show {{ expandedItemId === extension.id ? 'less' : 'more' }}
                  </button>
              </tui-elastic-container>
            </td>
            <td *tuiCell="'Project'" tuiTd>
              {{ getProjectName(extension.project_id) ?? '-' }}
            </td>
            <td *tuiCell="'Scope'" tuiTd>
              <tui-tag class="tui-space_right-1" [autoColor]="true" [value]="extension.scope"></tui-tag>
            </td>
            <td *tuiCell="'Item Count'" tuiTd>
              {{ extension.item_count ?? 0 }}
            </td>
            <td *tuiCell="'Creation Date'" tuiTd>
              {{ extension.creation_date }}
            </td>
            <td *tuiCell="'Actions'" tuiTd>Button</td>
          </tr>
        </tbody>
      </table>
    </tui-scrollbar>

    <ng-template #noData>
      <h1>No items available.</h1>
    </ng-template>
  </div>

  <div class="item-cards"></div>
</div>