.main-content {
    position: relative;
    background-color: #eee;
    width: calc(100% - 80px);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
}