.main-content {
  position: relative;
  width: calc(100% - 80px);
  height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  padding: 1rem;
}

.main-content.active {
  left: 250px;
  width: calc(100% - 250px);
}