<div class="sidebar" [ngClass]="{ active: isActive }">
  <div class="top">
    <div class="logo">
      <i>logo</i>
      <span>Typecode Registry</span>
    </div>
    <button id="btn" (click)="toggle()">x</button>
  </div>
  <div class="orientation">
    <ul>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Typecodes</span>
        </a>
        <span class="tooltip">Typecodes</span>
      </li>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Extensions</span>
        </a>
        <span class="tooltip">Extensions</span>
      </li>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Projects</span>
        </a>
        <span class="tooltip">Projects</span>
      </li>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Account</span>
        </a>
        <span class="tooltip">Account</span>
      </li>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li>
        <a href="#">
          <i>icon</i>
          <span class="nav-item">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
    </ul>
    <div class="user">
      <img class="user-img" src="./assets/img/user.svg" alt="Profile" />
      <div class="no-line-break">
        <p class="bold">Max Mustermann</p>
        <p>Administrator</p>
      </div>
    </div>
  </div>
</div>
