<div class="sidebar" [ngClass]="{ active: isActive }">
  <div class="top">
    <div class="logo">
      <h3>Typecode Registry</h3>
    </div>
    <button (click)="toggle()">
      <tui-svg src="tuiIconMenuLarge"></tui-svg>
    </button>
  </div>
  <div class="orientation">
    <ul>
      <li>
        <a [routerLink]="['/typecodes']">
          <i>
            <tui-svg src="tuiIconGridLarge"></tui-svg>
          </i>
          <span class="nav-item">Typecodes</span>
        </a>
        <span class="tooltip">Typecodes</span>
      </li>
      <li>
        <a href="#">
          <i>
            <tui-svg src="tuiIconTransparentLarge"></tui-svg>
          </i>
          <span class="nav-item">Extensions</span>
        </a>
        <span class="tooltip">Extensions</span>
      </li>
      <li>
        <a href="#">
          <i>
            <tui-svg src="tuiIconBriefcaseLarge"></tui-svg>
          </i>
          <span class="nav-item">Projects</span>
        </a>
        <span class="tooltip">Projects</span>
      </li>
      <li>
        <a href="#">
          <i>
            <tui-svg src="tuiIconSettingsLarge"></tui-svg>
          </i>
          <span class="nav-item">Settings</span>
        </a>
        <span class="tooltip">Settings</span>
      </li>
      <li>
        <a href="#">
          <i>
            <tui-svg src="tuiIconLogOutLarge"></tui-svg>
          </i>
          <span class="nav-item">Logout</span>
        </a>
        <span class="tooltip">Logout</span>
      </li>
    </ul>
    <div class="user">
      <img class="user-img" src="./assets/img/user.svg" alt="Profile" />
      <div class="no-line-break">
        <p class="bold">Max Mustermann</p>
        <p>Administrator</p>
      </div>
    </div>
  </div>
</div>
