<div>
  <!-- Create Item Button Div -->
  <div class="add-button">
    <button icon="tuiIconPlusLarge" tuiIconButton type="button" class="tui-space_right-3 tui-space_bottom-3"
      (click)="showDialog()" [attr.aria-hidden]="true"></button>
  </div>

  <!-- Items Table Div -->
  <ng-container *ngIf="this.store.details; else noData">
    <div>
      <tui-scrollbar>
        <cdk-virtual-scroll-viewport #viewport tuiScrollable class="viewport tui-zero-scrollbar" [itemSize]="45"
          [maxBufferPx]="500" [minBufferPx]="400">

          <table tuiTable [columns]="columns">
            <thead>
              <tr tuiThGroup>
                <th *tuiHead="'Scope'" tuiTh [sticky]="true">Scope</th>
                <th *tuiHead="'Project'" tuiTh [sticky]="true">Project</th>
                <th *tuiHead="'Extension'" tuiTh [sticky]="true">Extension</th>
                <th *tuiHead="'TypeName'" tuiTh [sticky]="true">Name</th>
                <th *tuiHead="'TableName'" tuiTh [sticky]="true">Table Name</th>
                <th *tuiHead="'Typecode'" tuiTh [sticky]="true">Typecode</th>
                <th *tuiHead="'Action'" tuiTh [sorter]="null" [sticky]="true"></th>
              </tr>
            </thead>

            <tbody *tuiLet="this.store.details | tuiTableSort as sortedDetails" tuiTbody [data]="sortedDetails">
              <tr *ngFor="let detail of sortedDetails" tuiTr>
                <td *tuiCell="'Scope'" tuiTd>
                  <tui-tag class="tui-space_right-1" [autoColor]="true" [value]="detail.scope"></tui-tag>
                </td>
                <td *tuiCell="'Project'" tuiTd>
                  {{ detail.project }}
                </td>
                <td *tuiCell="'Extension'" tuiTd>
                  {{ detail.extension }}
                </td>
                <td *tuiCell="'TypeName'" tuiTd>
                  {{ detail.item_name }}
                </td>
                <td *tuiCell="'TableName'" tuiTd>
                  {{ detail.item_table_name }}
                </td>
                <td *tuiCell="'Typecode'" tuiTd>
                  {{ detail.typecode }}
                </td>
                <td *tuiCell="'Action'" tuiTd>
                  <button appearance="flat" icon="tuiIconTrash" shape="rounded" size="s" title="Remove" tuiIconButton
                    type="button" class="remove" (click)="remove(detail)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </cdk-virtual-scroll-viewport>
      </tui-scrollbar>
    </div>
  </ng-container>

  <ng-template #noData>
    <h2>No items available.</h2>
  </ng-template>
</div>