<div class="container">
  <div class="item-container">
    <!-- Items Table Div -->
    <div *ngIf="this.store.items; else noData" class="table-container">
      <div class="table-sub-container">
        <div class="table-menu">
          <form [formGroup]="searchForm" tuiTextfieldIcon="tuiIconSearchLarge">
            <tui-input
              label="Search"
              formControlName="search"
              [tuiTextfieldCleaner]="true"
              tuiTextfieldSize="m"
            >
              Search
              <input tuiTextfield />
            </tui-input>
          </form>
          <button
            appearance="destructive"
            icon="tuiIconFilterLarge"
            tuiIconButton
            type="button"
            [attr.aria-hidden]="true"
          ></button>
          <button
            appearance="accent"
            icon="tuiIconPlusLarge"
            tuiIconButton
            type="button"
            (click)="showDialog()"
            [attr.aria-hidden]="true"
          ></button>
        </div>

        <tui-scrollbar class="border-radius">
          <table tuiTable [columns]="columns">
            <thead>
              <tr tuiThGroup>
                <th *tuiHead="'Scope'" tuiTh [sticky]="true">Scope</th>
                <th *tuiHead="'Project'" tuiTh [sticky]="true">Project</th>
                <th *tuiHead="'Extension'" tuiTh [sticky]="true">Extension</th>
                <th *tuiHead="'TypeName'" tuiTh [sticky]="true">Name</th>
                <th *tuiHead="'TableName'" tuiTh [sticky]="true">Table Name</th>
                <th *tuiHead="'Typecode'" tuiTh [sticky]="true">Typecode</th>
                <th *tuiHead="'Action'" tuiTh [sorter]="null" [sticky]="true">
                  Actions
                </th>
              </tr>
            </thead>

            <tbody
              *tuiLet="this.store.items | tuiTableSort as sortedItems"
              tuiTbody
              [data]="sortedItems"
            >
              <tr *ngFor="let item of sortedItems" tuiTr>
                <td *tuiCell="'Scope'" tuiTd>
                  <tui-tag
                    class="tui-space_right-1"
                    [autoColor]="true"
                    [value]="item.scope"
                  ></tui-tag>
                </td>
                <td *tuiCell="'Project'" tuiTd>
                  {{ item.project }}
                </td>
                <td *tuiCell="'Extension'" tuiTd>
                  {{ getExtensionName(item.extension_id) }}
                </td>
                <td *tuiCell="'TypeName'" tuiTd>
                  {{ item.name }}
                </td>
                <td *tuiCell="'TableName'" tuiTd>
                  {{ item.table_name }}
                </td>
                <td *tuiCell="'Typecode'" tuiTd>
                  {{ item.typecode }}
                </td>
                <td *tuiCell="'Action'" tuiTd>
                  <tui-hosted-dropdown [content]="dropdownContent">
                    <button
                      tuiIconButton
                      type="button"
                      icon="tuiIconMoreVertical"
                      appearance="flat"
                      shape="rounded"
                      size="s"
                      class="options"
                    ></button>
                  </tui-hosted-dropdown>

                  <ng-template
                    #dropdownContent
                    let-closeDropdown="closeDropdown"
                  >
                    <button
                      tuiIconButton
                      type="button"
                      (click)="onEditItem(item)"
                      icon="tuiIconEdit3"
                      appearance="flat"
                      shape="rounded"
                      size="s"
                    ></button>
                    <button
                      tuiIconButton
                      type="button"
                      (click)="onDeleteItem(item)"
                      icon="tuiIconTrash"
                      appearance="flat"
                      shape="rounded"
                      size="s"
                    ></button>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
        </tui-scrollbar>
      </div>
    </div>

    <ng-template #noData>
      <h1>No items available.</h1>
    </ng-template>

    <div class="item-display border-radius">
      <p>
        Item view will be added here<br /><i>(browse library for components)</i>
      </p>
    </div>
  </div>

  <div class="project-card-container border-radius">
    <p>
      Project cards will be added here<br /><i
        >(browse library for components)</i
      >
    </p>
  </div>
</div>
