
<div>
    <!-- Items Table Div -->
    <div>
        <table
            tuiTable
            [columns]="columns"
        >
        <thead>
            <tr tuiThGroup>
                <th
                    *tuiHead="'Scope'"
                    tuiTh
                >
                    Scope
                </th>
                <th
                    *tuiHead="'Project'"
                    tuiTh
                >
                    Project
                </th>
                <th
                    *tuiHead="'Extension'"
                    tuiTh
                >
                    Extension
                </th>
                <th
                        *tuiHead="'TypeName'"
                        tuiTh
                >
                    Name
                </th>
                <th
                        *tuiHead="'TableName'"
                        tuiTh
                >
                    Table Name
                </th>
                <th
                        *tuiHead="'Typecode'"
                        tuiTh
                >
                    Typecode
                </th>
                <th
                        *tuiHead="'Action'"
                        tuiTh
                        [sorter]="null"
                >
                </th>
            </tr>
        </thead>

        <tbody
            *tuiLet="this.store.details | tuiTableSort as sortedDetails"
            tuiTbody
            [data]="sortedDetails"
        >
        <tr
            *ngFor="let detail of sortedDetails"
            tuiTr
        >
            <td
                *tuiCell="'Scope'"
                tuiTd
            >
                {{ detail.scope }}
            </td>
            <td
                    *tuiCell="'Project'"
                    tuiTd
            >
                {{ detail.project }}
            </td>
            <td
                    *tuiCell="'Extension'"
                    tuiTd
            >
                {{ detail.extension }}
            </td>
            <td
                    *tuiCell="'TypeName'"
                    tuiTd
            >
                {{ detail.item_name }}
            </td>
            <td
                    *tuiCell="'TableName'"
                    tuiTd
            >
                {{ detail.item_table_name }}
            </td>
            <td
                    *tuiCell="'Typecode'"
                    tuiTd
            >
                {{ detail.typecode }}
            </td>
            <td
                    *tuiCell="'Action'"
                    tuiTd
            >
                <button
                        appearance="flat"
                        icon="tuiIconTrash"
                        shape="rounded"
                        size="s"
                        title="Remove"
                        tuiIconButton
                        type="button"
                        class="remove"
                        (click)="remove(detail)"
                ></button>
            </td>
        </tr>
        </tbody>
        </table>
    </div>

    <!-- Create Item Button Div -->
    <div>
        <button
                icon="tuiIconPlusLarge"
                tuiIconButton
                type="button"
                class="tui-space_right-3 tui-space_bottom-3"
                (click)="showDialog()"
                [attr.aria-hidden]="true"
        ></button>
    </div>
</div>
