@import '@taiga-ui/core/styles/taiga-ui-local.scss';

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.item-container {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem !important;
    overflow: hidden;

    .table-sub-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      tbody {
        tr {
          transition: 200ms;
          cursor: pointer;

          &:hover {
            background-color: #ff7043;
            color: #ffffff;
            transition: 200ms;
          }
        }
      }
    }
  }

  .item-display {
    width: 100%;
    font-size: 1rem;
    background-color: #ffffff;
    overflow: unset;
    padding: 0.75rem 0 0.75rem 0;

    h2 {
      width: fit-content;
      margin-top: 0;
      margin-left: 0.75rem;
    }

    tui-notification {
      margin: 0 0.75rem;
    }

    .item-display-sub-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .snippet-container {
        height: 100%;
        width: 100%;
        display: flex;

        > div:first-child {
          padding: 0 0.5rem 0 0.75rem;
        }

        > div:last-child {
          padding: 0 0.75rem 0 0.5rem;
        }

        div {
          width: 50%;

          .snippet-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.35rem;
            padding: 0 0.125rem;
          }

          .code-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            transition: 200ms ease;

            div {
              width: 100%;

              code {
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
}

.change-colors {
  color: #ff7043;
  border: 1px solid #ff7043 !important;
  transition: 200ms ease;
}

.project-card-container {
  width: 25%;
  font-size: 1rem;
  background-color: #ffffff;
  margin-left: 1rem;

  .project-card-sub-container {
    columns: 2;
    gap: 0.66rem;
    margin: 0.75rem 1rem 0.75rem 0.75rem;

    tui-island {
      box-sizing: border-box;
      margin: 0 0 0.75rem;
      break-inside: avoid;

      button {
        border-radius: 0 0 10px 10px;
      }
    }
  }
}

.selected {
  color: #ffffff;
  background-color: #ff7043 !important;
  filter: brightness(116%);
}

.options {
  opacity: 0;
}

tr:hover .options,
tr:focus-within .options {
  opacity: 1;
}

@media (max-width: 1275px) {
  .project-card-sub-container {
    columns: unset !important;
  }
}
