header {
  width: 100%;
  height: 7vh;
  font-size: 1rem;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo-section {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  height: 50%;
  width: 64px;
  object-fit: contain;
  cursor: pointer;
  margin-right: 0.5rem;
}

nav {
  width: 25vw;
  min-width: 340px;
  max-width: 400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a:after {
    position: absolute;
    content: '';
    transform: scaleX(0);
    width: 100%;
    height: 3px;
    bottom: -3px;
    left: 0;
    background-image: linear-gradient(45deg, rgb(255, 255, 255, 0), #0084ca);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 5px;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  a.active-link:after {
    transform: scaleX(0) !important;
  }

  a:not(.active-link):hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .user-img {
    height: 70%;
    border: 2px solid #0084ca;
    border-radius: 100%;
    cursor: pointer;
  }
}

.active-link {
  color: #0084ca;
}
