<header class="shadow">
  <a class="logo-section" href="/" title="Home">
    <img class="logo" src="./assets/img/logo_header.png" alt="NETCONOMY" />
    <h2 class="text-shadow">Typecode Registry</h2>
  </a>
  <nav>
    <a [routerLink]="['/items']" routerLinkActive="active-link">Items</a>
    <a [routerLink]="['/extensions']" routerLinkActive="active-link"
      >Extensions</a
    >
    <a [routerLink]="['/projects']" routerLinkActive="active-link">Projects</a>
    <img
      class="user-img"
      src="./assets/img/user.svg"
      alt="Profile"
      title="Benutzer"
    />
  </nav>
</header>
