* {
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif !important;
  font-size: 1rem;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 19.5px;
}

a {
  position: relative;
  height: fit-content;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}

.add-button {
  margin-bottom: 5px;
}

app-extension-editor {
  display: flex;
  height: 100%;
}

// Layout Styles here:

.outer-container {
  display: flex;
}

.table-container {
  display: block;
  max-height: 95vh;
  max-width: 70%;
  overflow: auto;
  border-radius: 10px
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

// Table Styles here:
[_nghost-ng-c2547322422] {
  background: none !important;
}

.table-container thead,
.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 10;
  text-align: center;
}

.table-container tbody {
  display: block;
  max-height: 90vh;
}

.table-container tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

tbody tr {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}