// General Styles:
* {
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, sans-serif !important;
  font-size: 1rem;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 19.5px;
}

a {
  position: relative;
  height: fit-content;
  text-decoration: none;
  font-weight: 600;
  color: inherit;
  cursor: pointer;
}

app-extension-editor {
  display: flex;
  height: 100%;
}

tui-scrollbar {
  height: 100%;
}

.border-radius {
  border-radius: 10px;
}

// Layout Styles:
.outer-container {
  display: flex;
}

.shadow {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

// Table Styles:
[_nghost-ng-c1783503476] {
  // table header
  font-size: 0.9rem !important;
  border: none !important;
}

[_nghost-ng-c2547322422] {
  // table
  font-size: 0.9rem !important;
  background: none !important;
}

[_ngcontent-ng-c2674606483] {
  // tag (first column)
  font-size: 0.9rem;
}

.table-container thead,
.table-container thead th {
  position: sticky;
  top: 0;
  z-index: 10;
}

.table-container tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-container th,
.table-container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  border-color: transparent !important;
}

tbody tr {
  background-color: #f1f1f1;
}

tbody tr:nth-child(even) {
  background-color: #ffffff;
}
